



@media (max-width: 64rem) {
    .cart {
      right: -2%;
      z-index: 100;
    }
  }
  
  @media (max-width: 37.5rem) {
    .cart {
      top: 120%;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }