@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;

}

:root{
    /*colors*/
    --button-color: #ff7d1a;
    --shadow-buton: #ffede0;
    --title-color: #1d2025;
    --text-color:#68707d;
    --price-color: 	#b6bcc8;
    --back-color: #f7f8fd;

    /*fonts*/
    --font: 'Kumbh Sans', sans-serif;


    /*accessibility*/
    font-size: 62.5%;
}

body{
    font-family: var(--font);
    padding: 2rem;
}



    #logo{
        display: flex;
        flex-direction: column;
        width: 15%;
        position: absolute;
        right: 12rem;
        top: 3.7rem;
        width: 11rem;
        }
    
        #cart{
            display: flex;
            flex-direction: column;
            position: absolute;
            right:5rem;
            top: 3.5rem;
            width: 2rem;
        }
    
        #profile{
            display: flex;
            flex-direction: column;
            position: absolute;
            right:1.2rem;
            top: 3rem;
            width: 3rem;
        }
        #images{
            width: 100%;
            position: absolute;
            left: 0;
            top: 8rem;
            }
        
        h1{
            position: absolute;
            top: 31.5rem;
            color: var(--button-color);
            font-size: 1.4rem;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.242);
            letter-spacing: 2px;
        }
        
        
        h2{
            position: absolute;
            top: 34rem;
            color: var(--title-color);
            font-size: 2.7rem;
            font-weight: 700px;
            letter-spacing: 0px;
        }
        
        p{
            position: absolute;
            top: 43rem;
            font-size: 1.4rem;
            color: var(--text-color);
            line-height: 2.2rem;
        }
        
        
        #coust{
            position: absolute;
            top: 56rem;
            display: grid;
            grid-template-rows: 3;
            grid-template-columns: 3;
        }
        
        #dis-price{
            color: var(--title-color) ;
            font-size: 2.5rem;
            font-weight: 700;
            grid-column-start: 1;
            grid-row-start: 1;
        }
        
        #discount{
            color: var(--button-color);
            padding-top: 0.2rem;
            padding-bottom: 0.4rem;
            background-color: var(--shadow-buton);
            border-radius: 0.8rem;
            grid-column-start: 2;
            font-size: 1.5rem;
            font-weight: 700;
            height: 1.5rem;
            text-align: center;
            width: 4rem;
            margin-top: 1rem;
            margin-top: 0.3rem;
            position: relative;
            left: -14rem;
            top:0.1rem;
            
        }

        #price{
            text-decoration: line-through;
            color: var(--price-color);
            grid-column-start: 3;
            margin-left: 3rem;
            font-size: 1.5rem;
            font-weight: 700;
            position: relative;
            left: -12rem;
            top: 0.4rem;
        }
        




    header{
            display: flex;
            
        }
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 0.8rem  ;
        flex-grow: 1;
    }

    #menu{
        z-index: 2;
        margin-top: -1.4rem;
    }

    #menu-bar{
        width: 2rem;
        height: 3rem;
        cursor: pointer;
        margin-top: 2.7rem;
    }

    .bar{
        height: 0.4em;
        width: 100%;
        background-color: var(--text-color);
        display: block;
        transition: 0.3s ease;
    }

    #bar1{ 
        transform: translateY(-4px);

    }

    #bar3{
        transform: translateY(4px);
        
    }

    .nav{
        transition: 0.3s ease;
        display: none;
        background-color: white;
        
        
    }

    .nav ul{
        width: 20rem;
        height: 50rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .nav li{
        list-style: none;
        padding-bottom: 1.8rem;
        font-weight: 800;
        font-size: 1.4rem;
              

    }

    .nav li a{
        text-decoration: none;
        color: var(--title-color);
        
    }

    .nav li a:hover{
        color: var(--button-color);
        
    }

    
    .menu-bg #menu{
        top: 0;
        left: 0;
        position: absolute;
    }

    .menu-bg {
        z-index: 2;
        margin: 3rem 0 2rem 2rem;
        background-color: white;
        transition: 0.3s ease;
    }

    .change{
        display: block;
        margin-left: -2rem;
        
    }

    

    .change .bar{
       color: var(--text-color);
       margin-left: 2rem;
    }

    .change #bar1{
        transform: translateY(4px) rotateZ(-45deg);
    }
    .change #bar2 {
        opacity: 0;
    }
      
    .change #bar3 {
        transform: translateY(-4px) rotateZ(45deg);
    }

    
    .btn{
        width: 24rem;
        height: 3rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--shadow-buton);
        margin-top:2rem ;
        border-radius: 0.6rem;

    }

    .btn button{
        width: 5rem;
        border: none;
        background-color: var(--shadow-buton);
        
        
    }


    .addCart{
        position: relative;
        bottom: -6rem;
        right: 28rem;
        width: 24rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--button-color);
        border: none;
        border-radius: 0.6rem;
        color: white ;
        background-image: URL("/assets/images/icon-cart.png") ;
        background-repeat: no-repeat;
        background-position-y: center;
        background-size: 8%;
        background-position-x: 27%;
        
        
    }


    .subBtn, .addBtn{
        color: var(--button-color);
        font-weight: 700;
        font-size: 2rem;
    }


    #quant{
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--title-color);
    }



    
@media (max-width:29rem) {







}

    @media (max-width:37.6rem) {
    #logo{
        display: flex;
        flex-direction: column;
        position: absolute;
        right:50rem;
        
       
    
    }

    #profile{
        position: absolute;
        top: 38.5rem;
    }

    h1{
        position: absolute;
        top: 38.5rem;
    }

    h2{
        position: absolute;
        top: 41rem;
    }
    

    p{
        position: absolute;
        top: 50rem;
    }

    #coust{
        position: absolute;
        top: 62rem;
    }

} 




