@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    /*colors*/
    --button-color: #ff7d1a;
    --button-color-select: #c46115;
    --shadow-buton: #ffede0;
    --title-color: #1d2025;
    --text-color:#68707d;
    --price-color: 	#b6bcc8;
    --back-color: #f7f8fd;

    /*fonts*/
    --font: 'Kumbh Sans', sans-serif;


    /*accessibility*/
    font-size: 62.5%;
}

body{
    font-family: var(--font);
    padding: 2rem;
   
}

header{
    display: flex;
    
}
nav{
display: flex;
justify-content: space-between;
margin-top: 0.8rem  ;
flex-grow: 1;
}

#menu{

margin-top: -1.4rem;
}

#menu-bar{
width: 2rem;
height: 3rem;
cursor: pointer;
margin-top: 2.7rem;
}

.bar{
height: 0.4em;
width: 100%;
background-color: var(--text-color);
display: block;
transition: 0.3s ease;
}

#bar1{ 
transform: translateY(-4px);

}

#bar3{
transform: translateY(4px);

}

.nav{
transition: 0.3s ease;
display: none;
background-color: white;




}

.nav ul{
width: 20rem;
height: 50rem;
padding-left: 2rem;
padding-top: 2rem;
}

.nav li{
list-style: none;
padding-bottom: 1.8rem;
font-weight: 800;
font-size: 1.4rem;
      

}

.nav li a{
text-decoration: none;
color: var(--title-color);

}

.nav li a:hover{
color: var(--button-color);

}


.menu-bg #menu{
top: 0;
left: 0;
position: absolute;

}

.menu-bg {

margin: 3rem 0 2rem 2rem;
background-color: white;
transition: 0.3s ease;

}

.change{
display: block;
margin-left: -2rem;


}



.change .bar{
color: var(--text-color);
margin-left: 2rem;
}

.change #bar1{
transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2 {
opacity: 0;
}

.change #bar3 {
transform: translateY(-4px) rotateZ(45deg);
}



#logo{
    display: flex;
    flex-direction: column;
    width: 15%;
    position: absolute;
    right: 12rem;
    top: 3.7rem;
    width: 11rem;
}
    
#cart{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:20rem;
    top: 3.5rem;
    width: 2rem;
}
    
#profile{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:23rem;
    top: 3rem;
    width: 3rem;
}


        
h1{
    position: absolute;
    top: 28.5rem;
    color: var(--button-color);
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.242);
    letter-spacing: 2px;
}
        
        
h2{
    position: absolute;
    top: 30.5rem;
    color: var(--title-color);
    font-size: 2.7rem;
    font-weight: 700px;
    letter-spacing: 0px;
}
        
p{
    position: absolute;
    top: 39.5rem;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 2.2rem;
}
      

#images{
    display: none;
}


/* Slideshow container */
.slideshow-container {
    max-width: 150rem;
    position: relative;
    margin: 0;
}

/* Hide the images by default */
.mymobileSlides {
  display: none;
 
}


/* Next & previous buttons */
.prevmobile, .nextmobile {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.nextmobile {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevmobile:hover, .nextmobile:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 .hover-shadow, .modal {
    display: none;
}

      
#coust{
    position: absolute;
    top: 54rem;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
}
       
#dis-price{
    color: var(--title-color) ;
    font-size: 2.5rem;
    font-weight: 700;
    grid-column-start: 1;
    grid-row-start: 1;
}


#discount{
    color: var(--button-color);
    padding: 0.4rem 0.2rem 0.9rem 0.2rem;
    background-color: var(--shadow-buton);
    border-radius: 0.8rem;
    grid-column-start: 2;
    font-size: 1.5rem;
    font-weight: 700;
    height: 1.5rem;
    text-align: center;
    width: 4rem;
    margin-top: 1rem;
    margin-top: 0.3rem;
    position: relative;
    left: 1rem;
    
            
}



#price{
    text-decoration: line-through;
    color: var(--price-color);
    grid-column-start: 3;
    margin-left: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    top: 0.4rem;
    right: 1.5rem;
}
        

.btn{
    width: 12rem;
    height: 3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--shadow-buton);
    margin-top:2rem ;
    border-radius: 0.6rem;
    right: 0.6rem;
    width: 285%;

    }

    .btn button{
      /*  width: 5rem;*/
        border: none;
        background-color: var(--shadow-buton);
        
        
    }


    .addCart{
        position: relative;
        top: 6rem;
        right: 18rem;
        width: 295%;
        height: 3rem;
        display: flex;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        background-color: var(--button-color);
        border: none;
        border-radius: 0.6rem;
        color: var(--shadow-buton) ;
        background-image: URL("/assets/images/icon-cart.png") ;
        background-repeat: no-repeat;
        background-position-y: center;
        background-size: 8%;
        background-position-x: 27%;
        box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-buton);
        
        
    }


    .subBtn, .addBtn{
        color: var(--button-color);
        font-weight: 700;
        font-size: 2rem;
    }

    .subBtn{
        padding-left: 2rem;
    }

    .addBtn{
        padding-right: 2rem;
    }
    #quant{
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--title-color);
    }

.addCart:hover{
        background-color: var(--button-color-select);
}

    
@media (min-width: 22rem) {
  
#logo{
    left: 5rem;          
}
  
#cart{
    left: 28rem;          
}

#profile{
    left: 32rem;          
}

h1{
    top: 37rem;
    
}
        
        
h2{
    top: 39rem;
}
        
p{
    top: 48rem;
}
      
#coust{
    top: 60rem;
}
       
#discount{
    left: 2rem;
    padding: 0.5rem 1rem 2.2rem 0.5rem;
}

#price{
    left: 7rem;
}
        

.btn{
    margin-top:3rem ;
    width: 390%;

}


.addCart{
    top: 7rem;
    width: 390%;
}

}



@media (min-width: 35rem) {
              
    .hover-shadow{
        display: inline;
    } 
        
    .modal{
        display: block;
    }

    #line{
        position: relative;
        width: 505%;
        border-bottom: 1px solid var(--price-color);
        bottom:43rem;
        right: 21rem;
        z-index: -1;
    }
    
    #logo{
        left: 20rem;
        width: 16rem;
    }
        
    #cart{
        left:125rem;
        width: 2rem;
        top: 4rem;
    }
    
    #profile{
        left:130rem;
        width: 3.5rem;
    }
    
    #menu-bar{
        display: none;
    }
    
    .nav{
       display: block;
        position: relative;
        left: 40rem;
        background-color: transparent;
                        
    }
    
       
    .nav ul{
        width: 20rem;
        height: 50rem;
        padding-left: 2rem;
        padding-top: 2rem;
        display: flex;
        gap: 3rem;
        
        }
        
        .nav li a{
            font-weight: 400;
            color: var(--text-color);
        
        }
    
    
        #images{
            width: 40rem;
            position: relative;
            left: 24.1rem;
            top: -36rem;
            border-radius: 1rem;
           
        }
        
        
        #description{
            height: 0;
        }
        
    
    
        h1{
            position: relative;
            left: 76rem;
            top: -71.5rem;
            width: 39rem;
           
        }
                
                
        h2{
            position: relative;
            top: -71rem;
            left: 76rem;
            width: 39rem;
        }
                
        p{
            position: relative;
            left: 76rem;
            top: -68.5rem;
            width: 39rem;
            text-align: justify;
        }
              
                     
        #coust{
            position: absolute;
            top: 42rem;
            display: block;
           
        }
               
        #dis-price{
            position: absolute;
            left: 30.3em;
        }
        
        
        #discount{
            position: absolute;
            left: 57.3em;
          
                    
        }
        
        
        
        #price{
            position: absolute;
            top: 3.5rem;
            left: 48.6em;
        }
                
        
        .btn{
            top: 6rem;
            left: 75.7rem;
            width: 159%;
            padding: 0.5rem 0;
        
            }
        
        
        
        .addCart{
            top: 0.8rem;
            left: 87.7rem;
            width: 400%;
            padding: 2rem 0;
            margin-bottom: 0;
        }
        
        
        .subBtn, .addBtn{
            color: var(--button-color);
            font-weight: 700;
            font-size: 2rem;
        }
        
        .subBtn{
            padding-left: 2rem;
        }
        
        .addBtn{
                padding-right: 2rem;
            }
            #quant{
                font-weight: 700;
                font-size: 1.5rem;
                color: var(--title-color);
            }
        
    
    
    
    
        /*lightbox carousel*/
            .row > .column {
                float: left;
                width: 13%;
              }
              
              .row:after {
                content: "";
                display: table;
                clear: both;
                padding: 0 ;
              }
              
    
    
              /* Create four equal columns that floats next to eachother */
              .column {
                float: left;
                width: 25%;
              }
    
              
              
              /* The Modal (background) */
              .modal {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.767);
              }
              
              /* Modal Content */
              .modal-content {
                position: relative;
                top: 7rem;
                margin: auto;
                padding: 0;
                width: 50%;
              }
              
              /* The Close Button */
              .close {
                color: white;
                position: absolute;
                top: 12rem;
                right: 54rem;
                font-size: 4rem;
                font-weight: bold;
              }
              
              .close:hover,
              .close:focus {
                color: #999;
                text-decoration: none;
                cursor: pointer;
              }
              
              /* Hide the slides by default */
              .mySlides {
                display: none;
                
              }
    
              .zoom{
                border-radius: 0.8rem;
                position: relative;
               left: 18rem;
              }
              
              /* Next & previous buttons */
              .prev,
              .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -50px;
                color: white;
                font-weight: bold;
                font-size: 20px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
                -webkit-user-select: none;
              }
              
              /* Position the "next button" to the right */
              .next {
                right: 20rem;
                border-radius: 3px 0 0 3px;
              }
    
               /* Position the "previous button" to the right */
               .prev {
                right: 53rem;
                border-radius: 3px 0 0 3px;
                
              }
    
              
              /* On hover, add a black background color with a little bit see-through */
              .prev:hover,
              .next:hover {
                background-color: rgba(0, 0, 0, 0.421);
              }
              
              
              .active,
              .demo:hover {
                opacity: 1;
                
              }
              
              img.hover-shadow {
                transition: 0.3s;
                
              }
              
              .hover-shadow:hover {
                box-shadow: 2px 2px 2px 1px var(--button-color);
                
              }
    
    
            #row {
                display: inline;
            }
            
            .column{
                display: contents;
                
            }
    
            .hover-shadow{
            position: relative;
            bottom: 34rem;
            }
        
            img >.hover-shadow, img >.demo{
            width: 50%;
            height: 50%;
            }
    
            .hover-shadow{
                width: 8rem;
                border-radius: 0.8rem;
                margin-left: 2.4rem;
                position: relative;
                left: 22rem;
            }
    
            
            .demo{
                width: 8rem;
                border-radius: 0.8rem;
                margin-left: 0.7rem;
                position: relative;
                left: 18rem;
                opacity: 0.6;
            }
        
            #images{
                display: flex;
            }
    
            .slideshow-container, .slideMobile, .mobileSlides{
                display: none;
            }
    }